@page
@model CryptoCurrencyViewApp.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers  

<h3>Crypto Currency Rate</h3>
<form method="post">
    Currency Symbol:
    <div>
        <input asp-for="CryptoCurrencyToFetch" required />
        <input type="submit" value="Get Rates"/>
        <p>EX: BTC, ETH</p>
        <br style="line-height : 0.05"/>
        <span asp-validation-for="ErrorMessage"></span>
        <p style="color:red">@Model.ErrorMessage</p>
        <ul>
            @if (@Model?.CryptoCurrencyRates?.ExchangeRates != null)
            {
                @foreach (var exchangeRate in @Model.CryptoCurrencyRates.ExchangeRates)
                {
                    <li>@exchangeRate.CurrencyId - @exchangeRate.Rate</li>
                }
            }
        </ul>
    </div>
</form>

